/* reset the font */

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

p {
    font-size: 14px;
}

.page-content{
    padding-top: 70px;
}

.sub-brand {
    font-size: 11px;
    color: #16a085;
}

.form-buttons .btn {
    margin-right: 2px;
}

#navbar.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0;
}

.login-container,
.signup-container {
    /*padding: 0 15px;*/
}

.signup-link,
.signin-link {
    border-top: 1px solid#888;
    padding-top: 15px;
    font-size: 85%
}

