/* common css */

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

p {
    font-size: 14px;
}

.page-content {
    padding-top: 70px;
}

.sub-brand {
    font-size: 11px;
    color: #16a085;
}

.form-buttons .btn {
    margin-right: 2px;
}

#navbar.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0;
}


/* spaces css */

.space-url-input {
    width: 100px;
}

.space-url-prefix {}

.space-item-fn .btn {
    margin-left: 2px;
}

.add-user-form .form-control {
    width: 100%
}

.space-user-item-detail .user-avatar {
    width: 40px;
}

.space-user-item-detail .user-name {
    font-weight: bold;
    margin-left: 5px;
}

.space-user-item-detail .user-role,
.space-user-item-detail .user-status {
    margin-left: 5px;
    font-size: 10px;
}
