<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Upspace | DongHanh Tech</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/space/plugins/font-awesome/font-awesome.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/space/css/main.min.css">
    <link rel="stylesheet" href="/static/space/css/skins/skin-blue-light.css">

    <!-- Plugins css -->
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/toastr/toastr.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/iCheck/all.css">
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/jstree/themes/default/style.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/org-chart/css/jquery.orgchart.css" />
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/circle-css/circle.css" />
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/summernote/summernote.css">
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/select2/css/select2.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/lightgallery/css/lightgallery.css" /> 
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" /> 
    <link type="text/css" rel="stylesheet" href="/static/space/plugins/bootstrap-slider/css/bootstrap-slider.min.css" /> 
    
    <!-- Custom style -->
    <link rel="stylesheet" href="/static/space/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="main" class="hold-transition skin-blue-light sidebar-mini fixed">
    <%- markup -%>
<body>

<script>
    window.__PRELOADED_STATE__ = <%- initState -%>
</script>
<script>
  var AdminLTEOptions = {
    //Enable sidebar expand on hover effect for sidebar mini
    //This option is forced to true if both the fixed layout and sidebar mini
    //are used together
    //sidebarExpandOnHover: false,
    //BoxRefresh Plugin
    //enableBoxRefresh: true,
    //Bootstrap.js tooltip
    //enableBSToppltip: true
    //Control Sidebar Options
    enableControlSidebar: true,
    controlSidebarOptions: {
        //Which button should trigger the open/close event
        toggleBtnSelector: "[data-toggle='control-sidebar']",
        //The sidebar selector
        selector: ".control-sidebar",
        //Enable slide over content
        slide: false
      },
  };
</script>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/space/js/app.min.js"></script>

<script src="/static/space/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/space/plugins/toastr/toastr.min.js"></script>
<script src="/static/space/plugins/iCheck/icheck.min.js"></script>
<script src="/static/space/plugins/jstree/jstree.min.js"></script>
<script src="/static/space/plugins/fine-uploader/fine-uploader.core.js"></script>
<script src="/static/space/plugins/org-chart/js/jquery.orgchart.js"></script>
<script src="/static/space/plugins/summernote/summernote.min.js"></script>
<script src="/static/space/plugins/select2/js/select2.min.js"></script>
<script src="/static/space/plugins/clipboard/clipboard.min.js"></script>
<script src="/static/space/plugins/pulsate/jquery.pulsate.min.js"></script>

<script src="/static/space/plugins/lightgallery/js/lightgallery.min.js"></script>
<script src="/static/space/plugins/lightgallery/js/lg-thumbnail.min.js"></script>
<script src="/static/space/plugins/lightgallery/js/lg-fullscreen.min.js"></script> 
<script src="/static/space/plugins/lightgallery/js/lg-zoom.min.js"></script> 

<script src="/static/space/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script> 
<script src="/static/space/plugins/sortable/Sortable.min.js"></script>
<script src="/static/space/plugins/bootstrap-slider/js/bootstrap-slider.min.js"></script> 
  
<script src="/static/space/js/custom.js"></script>
<script src="/static/space/built/bundle.js" type="text/javascript"></script>

</html>
