/* custom site css */

.datetime {
    color: #90949c;
}

.upload-panel {
    bottom: 35px;
    position: fixed;
    right: 15px;
    width: 400px;
}

.upload-panel p {
    line-height: 1em;
    margin: 0 0 4px;
    overflow-wrap: break-word;
}

.upload-panel .col-percentage {
    width: 50px;
}

.upload-panel .upload-status {
    font-style: italic;
    font-size: 12px;
}

.orgchart .node .title {
    background-color: rgba(60, 141, 188, 0.8);
}

.orgchart .node .content {
    border-color: rgba(60, 141, 188, 0.8);
    min-height: 0px;
    padding: 0;
}

.orgchart .org-node-menu {
    opacity: 0;
    position: absolute;
    right: -15px;
    top: -15px;
    transition: opacity 0.5s ease 0s;
    z-index: 2;
}

.orgchart .org-node-menu .btn:hover {
    color: #3C8DBC;
}

.orgchart .focused .org-node-menu {
    opacity: 1;
}

.orgchart .org-node-head .title {
    background-color: rgba(217, 83, 79, 0.8);
}

.orgchart .org-node-head .content {
    border-color: rgba(217, 83, 79, 0.8);
}

.orgchart .org-node-icon {
    color: #ECF0F5;
    position: absolute;
    top: 7px;
    right: 5px;
}

.space-user-list .space-user-item .user-avatar {
    width: 35px;
    margin-right: 5px;
}

.space-user-list .space-user-item .user-name {
    margin-right: 5px;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-bottom-color: #3c8dbc;
    border-top: none;
}

.nav-tabs-custom>.nav-tabs>li {
    border-bottom: 3px solid transparent;
    border-top: none;
}

.post-categories-tree {
    overflow-x: hidden;
}

.post-categories-tree .jstree-themeicon-custom {
    color: #E9CF5F;
}

.wiki-post-detail .wiki-post-title h3 {
    margin: 5px 0;
}

.wiki-post-detail .wiki-post-meta {
    margin: 5px 0;
}

.wiki-post-detail .wiki-post-content {
    margin: 20px 0 0 0;
    text-align: justify;
}

.wiki-post-detail .wiki-post-tags {
    margin: 5px 0;
}

.wiki-post-detail .wiki-post-tags ul {
    display: inline;
    padding: 0;
    margin: 0;
}

.wiki-post-detail .wiki-post-tags ul li {
    display: inline;
    padding: 0 4px;
}

.wiki-post-read-more {
    margin-left: 4px;
    font-weight: bold;
}

.wiki-post-content img {
    max-width: 100%;
    margin: 10px auto;
    display: block;
}

.box-simple {
    border-top: none;
}

.box-footer .btn.pull-right {
    margin-left: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: inherit;
}

.post-category-info .box-title {
    font-weight: bold;
}

.popover-content {
    padding: 4px;
}

.file-link-text {
    width: 250px
}

.comment-item img {
    width: 40px
}

.comment-item .user-name {
    font-weight: bold;
    margin-right: 5px;
}

.add-comment-form {
    margin-top: 10px;
}

.comment-item .comment-meta .datetime {
    font-size: 13px;
}

.comment-meta a {
    margin-right: 10px;
}

.notification-list {
    padding: 0px;
}

.notification-item {
    padding: 5px 10px;
    border-bottom: 1px solid #dddfe2;
    margin: 0px;
    cursor: pointer;
    width: 100%;
}

.notification-item-unread {
    background-color: #E5EAF1;
}

.notification-meta {
    font-size: 0.9em;
}

.notification-user-img {
    width: 40px;
}

.notification-load-more {
    display: inline;
    font-size: 20px;
    line-height: 20px;
}

.notification-item .user-name {
    color: #3c8dbc !important;
}

.notification-item .user-name:hover {
    outline: none;
    text-decoration: none;
    color: #72afd2 !important;
    background: none !important;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li.header {
    border-bottom: 1px solid #dddfe2;
}

.loading-area {
    width: 100%;
    text-align: center;
    height: 24px;
}

.loading-area img {
    width: 18px;
}

.react-btn {
    padding: 0 4px;
    margin-right: 5px !important;
    line-height: 13px;
}

.react-users-popover {
    padding: 1px;
}

.react-users {
    display: inline;
    cursor: pointer;
    font-size: 12px;
    color: #90949c;
}

.react-users-popover ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.react-users-popover .user-name {
    font-weight: normal;
}

.comment-meta .react-users-container {
    display: inline;
    margin-right: 10px;
}

.live-post-create {}

.live-post-create .box-footer {
    background-color: #F6F7F9;
}

.live-post-create textarea {
    border: none;
}

.live-post-create .form-group {
    margin-bottom: 0;
}

.live-post-create .form-group .help-block {
    margin-bottom: 0;
}

.live-post-create .btn {
    padding: 2px 15px;
}

.live-post-create-menu {
    display: inline;
    list-style: none;
    padding: 0;
}

.live-post-create-menu li {
    display: inline;
    padding: 0 14px;
    border-left: 1px solid #e5e5e5;
}

.live-post-create-menu li:first-child {
    padding-left: 0;
    border-left: none;
}

.live-post-create-menu a {
    font-weight: 600;
}

.live-post-header {}

.live-post-content {
    padding: 10px 0;
}

.live-post-user-img {
    width: 40px;
}

.live-post-meta {
    border-top: 1px solid #e5e5e5;
    padding: 4px 0;
}

.live-post-item .box-footer {
    background-color: #F6F7F9;
    border-top: 1px solid #e5e5e5;
}

.add-comment-form .btn {
    padding: 2px 15px;
}

textarea.comment-input {
    height: 34px;
    padding: 5px 10px;
    overflow: hidden;
}

textarea.textarea-autoheight {
    overflow: hidden;
    /*height: 34px;*/
    padding: 0;
}

.add-comment-box {
    margin-top: 10px;
}

.comment-list-empty+.add-comment-box {
    margin-top: 0px;
}

.live-post-function {
    position: absolute;
    top: 7px;
    right: 10px;
}

.live-post-function .dropdown-toggle {
    font-size: 18px;
    font-weight: bold;
}

.live-post-more {
    width: 100%;
    text-align: center;
}

.live-post-more img {
    width: 24px;
}

.live-post-more .btn {
    width: 100%;
}

.live-post-item-own .live-post-scope {
    margin-right: 25px;
}

.live-post-scope .group-display-link span {
    font-size: 0.86em;
    color: #777777;
}

.btn-view-trash {
    color: #777777;
}

.btn-view-trash.active,
.btn-view-trash.hover {
    color: #3c8dbc;
}

.table-file tr.active td {
    background-color: #D9EDF7 !important;
}

.file-info .box-body.no-padding h4 {
    padding-left: 8px;
}

.file-info-table,
.file-info-table span,
.file-info-table .datetime {
    font-size: 12px;
}

.file-info-img-preview {
    text-align: center;
    padding: 4px;
}

.file-info-img-preview img {
    max-width: 100%;
}


/*upload-box gallery style */

.upload-box {}

.upload-box-gallery {}

.upload-box-gallery .upload-box-item {
    position: relative;
    width: 120px;
    height: 136px;
    float: left;
    margin: 2px;
    background: #f4f4f5;
    border-radius: 5px;
    padding: 4px;
}

.upload-box-gallery .upload-box-item .upload-box-item-thumb {
    width: 100%;
    height: 86px;
    margin-bottom: 4px;
    overflow: hidden;
}

.upload-box-gallery .upload-box-item .upload-box-item-thumb img {
    width: 100%;
}

.upload-box-gallery .upload-box-item .upload-box-item-caption p {
    margin: 0;
    font-size: 0.85em;
    display: block;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.upload-box-gallery .upload-box-item .upload-box-item-remove {
    position: absolute;
    top: 0px;
    right: 6px;
    font-size: 20px;
    color: #444;
}

.upload-box-gallery .upload-box-item-add {
    position: relative;
    width: 120px;
    height: 136px;
    float: left;
    margin: 2px;
    text-align: center;
    border-radius: 5px;
    border: 1px dashed #CCC;
    background: #F6F7F9;
    line-height: 130px;
}

.upload-box-gallery .upload-box-item-add:hover {
    background: #e2e2e2;
}


/*upload-box list style */

.upload-box-list {
}

.upload-box-list .upload-box-item {
    position: relative;
    margin-bottom: 10px; 
}

.upload-box-list .upload-box-item .upload-box-item-thumb {
    display: none;
}

.upload-box-list .upload-box-item .upload-box-item-caption p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.upload-box-list .upload-box-item .upload-box-item-caption p.upload-box-item-name {
    font-weight: normal;
}

.upload-box-list .upload-box-item .upload-box-item-size .filesize {   
    display: inline-block;
    width: 80px;
}

.upload-box-list .upload-box-item .upload-box-item-remove {   
    font-size: 16px;
    color: #444;
}

.upload-box-list .upload-box-item .upload-box-item-remove:hover {
    color: #777;
}

.upload-box-list .upload-box-item-add {
    color: #3c8dbc;
}

.upload-box-list .upload-box-item-add:hover {
    color: #72afd2;
}


/*

*/

.live-post-gallery {
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.live-post-gallery-item {
    overflow: hidden;
    position: relative;
}

.live-post-gallery-thumb {
    width: 100%;
    height: auto;
}

.gallery-1 .item-1 {
    width: 100%;
}

.gallery-1 .item-1 .live-post-gallery-thumb {
    max-width: 100%;
    width: auto;
}

.gallery-2 {
    display: table;
}

.gallery-2 .item-1,
.gallery-2 .item-2 {
    width: 50%;
    float: left;
}

.gallery-2 .item-1 {
    border-right: solid 2px rgba(0, 0, 0, 0);
}

.gallery-2 .item-2 {
    border-left: solid 2px rgba(0, 0, 0, 0);
}

.gallery-2 img {
    width: 100%;
    height: auto;
}

.gallery-3 {}

.gallery-3 .item-1 {
    width: 66.666%;
    float: left;
    border-right: solid 2px rgba(0, 0, 0, 0);
}

.gallery-3 .item-2,
.gallery-3 .item-3 {
    width: 33.33%;
    float: left;
    border-left: solid 2px rgba(0, 0, 0, 0);
}

.gallery-3 .item-2 {
    border-bottom: solid 2px rgba(0, 0, 0, 0);
}

.gallery-3 .item-3 {
    border-top: solid 2px rgba(0, 0, 0, 0);
}

.gallery-4 {}

.gallery-4 .item-1 {
    width: 100%;
    float: left;
    margin-bottom: 2px;
}

.gallery-4 .item-2,
.gallery-4 .item-3,
.gallery-4 .item-4 {
    width: 33.33%;
    float: left;
    margin-top: 2px;
}

.gallery-4 .item-2,
.gallery-4 .item-3 {
    border-right: solid 2px rgba(0, 0, 0, 0);
}

.gallery-4 .item-3,
.gallery-4 .item-4 {
    border-left: solid 2px rgba(0, 0, 0, 0);
}

.gallery-4.has-more .item-hide {
    display: none;
}

.gallery-4.has-more .item-4 .live-post-gallery-more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    font-size: 3em;
    color: #fff;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
}

.live-post-file-list {
    padding-left: 30px;
}

.live-post-file i {
    font-size: 36px;
    color: #ccc;
}

.live-post-file-name {
    font-weight: bold;
}


/*objective style*/

.timeline .time-label span {
    width: 65px;
    text-align: center;
}

.timeline .time-label-annual span {
    font-weight: bold;
}

.btn-add-objective {
    width: 65px;
    height: 32px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
}

.timeline-footer .btn {
    margin-right: 4px;
}

.objective-results-mgr .row {
    margin-bottom: 4px;
}

.timeline .timeline-header {
    cursor: pointer;
}


/*select2*/

.select2-container--default .select2-selection--single {
    border-radius: 0px;
    border-color: #d2d6de;
    height: 34px;
    padding: 6px;
}


/*work app*/

.work-item-value {
    /*display: inline-block;*/
    /*float: right;*/
}

.work-item-label {
    font-weight: bold;
    margin: 0;
}

.work-detail-line {
    padding-bottom: 0px;
    line-height: 30px;
}

.work-detail .form-group {
    margin-bottom: 0px;
}

.box-tools .btn {
    margin-left: 4px;
}

.box-work-resource .work-item-label {
    width: 85px;
}

.box-work-planning .work-item-label {
    width: 125px;
}

.work-detail-knowledge-tags .label,
.work-detail-category-tags .label {
    margin-right: 4px;
}

.work-hierarchy {
    margin-bottom: 10px;
}

.work-hierarchy-separator {
    margin: 0 10px;
}

.work-detail-status p {
    margin: 0;
}

.work-status-label {
    font-weight: bold;
}

.work-status-action.hide-text .work-status-label,
.work-status-action.hide-text .work-action span {
    display: none;
}

.work-status-action.hide-text .work-status,
.work-status-action.hide-text .work-action {
    display: inline-block;
}

.work-detail-attachments {
    padding: 10px;
    width: 240px;
}

.box-flat {
    border: none;
    background: transparent;
    box-shadow: none;
}

.box-flat .box-header {
    padding: 10px 0;
}

.box-flat .box-body {
    padding: 10px 0 0 0;
}

.work-tasks-list {
    margin-bottom: 10px;
}

.work-tasks-list .work-task-col-drag,
.work-tasks-list .work-task-col-check,
.work-tasks-list .work-task-col-button {
    width: 24px;
}

.work-tasks-list .work-task-col-button {
    text-align: right;
}

.work-tasks-list table {
    width: 100%;
}

.work-task-item-completed .work-task-note {
    text-decoration: line-through;
}

.work-checklist-change {
    display: inline;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}

.time-stamp {
    background-color: #d2d6de;
    color: #444;
    border-radius: 3px;
    padding: 0px 5px;
}

.work-task-col-content .work-task-start,
.work-task-col-content .time-counter,
.work-task-col-content .work-task-time {
    margin-right: 10px;
}

.work-task-col-content .work-task-btn {
    padding: 0;
}

.work-task-time-input{
    width: 60px;
    display: inline-block;
}

.work-task-time .time-stamp {
    background-color: #f39c12;
    color: #fff;
}

.kanban-work-item {
    padding: 5px 7px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    border-left: 3px solid #27ae60;
    box-shadow: 2px 2px 3px #ddd;
    margin-bottom: 8px;
    position: relative;
}

.kanban-work-item .remove-from-todo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.kanban-work-list {
    height: 450px;
    overflow-y: auto;
}

.work-list {
    background: #fff;
}

.work-list table {
    background: #fff;
}

.work-list th {
    margin: 0;
    padding: 8px 0 !important;
}

.work-list tr {
    margin: 0;
    padding: 0;
}

.work-list td {
    padding: 4px 0 !important;
    border: none!important;
}

.work-list .work-item-name-col {
    min-width: 200px;
    padding-left: 10px !important;
}

.work-list .work-item-source-col {
    width: 120px;
}

.work-list .work-item-performer-col {
    width: 120px;
}

.work-list .work-item-monitor-col {
    width: 120px;
}

.work-list .work-item-startdate-col {
    width: 80px;
}

.work-list .work-item-duedate-col {
    width: 80px;
}

.work-list .work-item-status-col {
    width: 135px;
}

.work-list .work-item-progress-col {
    width: 150px;
}

.work-list .work-item-progress-col .work-item-progress {
    margin-right: 10px;
}

.work-list td table {
    padding: 0;
    margin: 0;
}

.work-list .work-item-container {
    border-top: 1px solid #f4f4f4;
}

.work-list .work-item-expand-btn {
    margin-right: 10px;
}

textarea.autosize-textarea {
    height: 34px;
    padding: 5px 10px;
    overflow: hidden;
}

.work-tasks-add table {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}

.work-tasks-add .btn {
    float: right;
}

.work-task-note-editing a {
    position: absolute;
    top: 5px;
    right: 20px;
}

.work-progress-slider {
    margin-bottom: 10px;
}

.work-progress-slider .slider {
    width: 100%;
}

.work-progress-slider .slider .slider-selection {
    background: #F4AA35;
}

.work-item-has-childs .work-item-name {
    font-weight: 600;
}

.work-detail-priority-label p {
    padding: 0;
    margin: 0;
}

.work-detail-priority-label .work-item-label {
    margin-bottom: 5px;
}

.work-detail-priority-label .btn {
    margin-right: 5px;
    font-weight: 600;
}

.all-works .box-body {
    overflow: hidden;
}

.work-filter {
    padding: 10px 10px 0 10px;
}

.work-filter .btn {
    margin-left: 5px;
}

.work-filter .select2-container {
    width: 100% !important;
}

.work-detail .work-detail-progress{
    margin: 10px;
}

.work-result-note-box .box-title a{
    margin-left: 5px;
}