<% if(typeof error !== 'undefined' && error) { %>
    <div class="alert alert-danger">
        <% if(error.length >= 1 && typeof error[0].msg !== 'undefined') { %>
            <ul style="padding-left:10px">
                <% for(var i = 0; i < error.length; i++) {%>
                    <li>
                        <%= error[i].msg %>
                    </li>
                    <% } %>
            </ul>
        <% } else { %>
            <span> <%= error %></span>
        <% } %>
    </div>
<% } %>
