<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Upspace <span class="sub-brand">Auth</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
                <!--<li><a href="#contact">Contact</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(typeof user !== 'undefined' && user) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.display_name %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/as/logout"><i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a></li>
                    </ul>
                </li>
                <% } else {%>
                <li><a href="/as/login">Đăng nhập</a></li>
                <li><a href="/as/register">Đăng ký</a></li>
                <%}%>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
