<!DOCTYPE html>
<html>

<% include _header %>

    <body>
        <div class="container">
            <div style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Xác nhận cho phép truy cập tài khoản</div>
                    </div>
                    <div class="panel-body">
                        <div class="login-container">
                            <form action="/as/dialog/oauth-decision" method="post" role="form" class="">
                                <input name="transaction_id" type="hidden" value="<%= transactionID %>" />
                                <p>Xin chào <b><%= user.display_name %></b>. Ứng dụng <b><%= client.name %></b> yêu cầu truy cập thông tin từ tài khoản của bạn.</p>
                                <p>Bạn có đồng ý cho phép truy cập?</p>
                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="controls">
                                        <button type="submit" class="btn btn-success" value="Accept">Đồng ý</button>
                                        <button name="cancel" type="submit" class="btn btn-default" value="Deny">Không đồng ý</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
