<!DOCTYPE html>
<html>

<%- include("_header") %>

    <body>
        <div class="container">
            <div style="margin-top:50px;" class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="alert alert-danger">
                    <% if(typeof error.content !== 'undefined' && error.content) {%>
                        <p><%= error.content %></p>
                    <%}%>
                    <% if(typeof error.detail !== 'undefined' && error.detail) {%>
                        <<em><%= error.detail %></em>
                    <%}%>
                </div>
            </div>
        </div>
        </div>
    </body>

</html>
