<!DOCTYPE html>
<html>
<%- include("_header") %>

    <body>
         <% include _top-menu %>

        <div class="container page-content">
            <%-body%>
        </div>

    </body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
  <script src="/static/as/js/app.js"></script>
</html>
