<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Đăng nhập vào Upspace</div>
        </div>
        <div class="panel-body">
            <div class="login-container">
                <%- include("_error") %>
                    <form action="/as/login" method="post" id="loginform" role="form" class="">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-username" type="text" class="form-control" name="username" placeholder="email hoặc số điện thoại">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="mật khẩu">
                            </div>
                        </div>
                        <div class="form-group" >
                                <label class="checkbox">
                                    <input id="login-remember" type="checkbox" name="remember" value="1" data-toggle="checkbox"> Ghi nhớ đăng nhập
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="controls">
                                <button id="btn-login" type="submit" class="btn btn-success">Đăng nhập</button>
                                <a href="#" class="text-right">Quên mật khẩu?</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="signup-link">
                                <span>Đăng nhập với</span>
                                <a href="/as/auth/facebook" class="btn btn-sm btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                                <a href="/as/auth/google" class="btn btn-sm btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
                                <p> Chưa có tài khoản? <a href="/as/register">Đăng ký</a></p>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
