<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="alert alert-success">
        <div>
            <p> Thông tin xác thực đã được gửi đến email <strong><%= email %></strong>. Bạn hãy kiểm tra hộp thư đến và bấm vào link để đăng ký tài khoản.</p>
        </div>
    </div>
</div>