<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Mở tài khoản Upspace</div>
        </div>
        <div class="panel-body">
            <div class="signup-container">
                <%- include("_error") %>

                    <form action="/as/register" method="post" role="form" class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                        </div>
                        <button id="btn-login" type="submit" class="btn btn-success">Đăng ký</button>
                    </form>

            </div>
        </div>
    </div>
</div>
