<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Mở tài khoản Upspace</div>
        </div>
        <div class="panel-body">
            <div class="signup-container">
                <%- include("_error") %>

                    <form action="/as/signup" method="post" role="form" class="">
                        <input type="hidden" name="code" value="<%= code %>" />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" name="email" placeholder="Email"  value="<%= email %>" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="display_name" placeholder="Họ tên">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="re_password" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Tôi đồng ý với các <a href=# >điều khoản</a>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="controls">
                                <button id="btn-login" type="submit" class="btn btn-success">Đăng ký</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="signin-link">
                                Đã có tài khoản? <a href="/as/login">Đăng nhập</a>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
