<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="alert alert-success">
        <p>Chào mừng <strong> <%= display_name %> </strong>! Bạn đã đăng ký thành công tài khoản với email <strong><%= email %></strong>.</p>
        <a href="/as/login" class="btn btn-primary">Đăng nhập</a>
    </div>
</div>
